.button {
  position: relative;
  @include font(bold, 17px, 30px);
  @include a();
  @include size(270px, 50px);
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  color: $color-bg--dark-blue;
  background-color: $basic-yellow;
  border-radius: 25px;
  text-align: center;
  padding-top: 6px;

  &--middle {
    @include font(bold, 20px, 20px);
    @include size(188px, 50px);
    padding-top: 16px;
  }

  &--small {
    @include size(190px, 40px);
    order: 3;
  }
}
