.cards {
  position: relative;
  background-color: $color-bg--light-blue;
}

.cards__link-wrapper {
  text-align: center;
  margin: 18px 0;

  @media (min-width: $tablet-width) {
    margin: 51px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 73px 0;
  }
}

.cards__link {
  position: relative;
  @include font(bold, 17px, 30px);
  text-decoration: none;
  color: $color-text--blue;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    @include size(18px, 18px);
    background-image: url("../img/show-more-plus.svg");
    top: 5px;
    left: -30px;
  }
}

.cards__btn {
  position: relative;
  margin-bottom: 40px;

  &:hover,
  &:focus {
    background-color: $special-yellow;
  }

  &:active {
    color: $basic-special--blue-opacity;


    &::after {
      opacity: 0.3;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    top: 25px;
    right: 22px;
    display: block;
    border: 6px solid transparent;
    border-left: 10px solid $basic-special-blue;
    z-index: 10;
  }


  @media (min-width: $tablet-width) {
    margin: 0 0 35px 35px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 620px;
  }
}
