.container {
  width: 270px;
  margin: 0 auto;

  &--narrowest {
    width: 220px;
  }

  @media (min-width: $tablet-width) {
    width: 688px;

    &--narrow {
      width: 618px;
    }

    &--narrowest {
      width: 532px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1320px;

    &--narrow {
      width: 1258px;
    }

    &--narrowest {
      width: 1000px;
    }
  }
}
