.direction {
  background-color: $color-bg--light-blue;
  margin-top: -50px;
  border-radius: 40px;
}

.direction__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
  }
}

.direction__wrapper-text {
  @media (min-width: $desktop-width) {
    order: 2;
    width: 616px;
  }
}

.direction__title {
  @include font(bold, 24px, 24px);
  color: $color-title--orange;
  padding-top: 101px;
  margin: 0 0 19px 36px;

  @media (min-width: $tablet-width) {
    @include font-size(45px, 45px);
  }
}

.direction__quantity {
  position: relative;


  &::before {
    position: absolute;
    content: "";
    @include size(14px, 114px);
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    color: $basic-black;
    top: 3px;
    right: 505px;

    @media (min-width: $tablet-width) {
      top: -2px;
      @include size(20px, 20px);
    }
  }
}

.direction__text {
  color: $basic-grey;

  @media (min-width: $tablet-width) {
    @include font-size(28px, 33px);
    width: 378px;
    margin: 0 0 19px 36px;
  }
}

.direction__list {
  @include ul();
  margin-bottom: 27px;
}

.direction__item {
  background-color: $basic-white;
  border-radius: 10px;
  min-height: 190px;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
    width: 616px;
    margin: 0 auto;
  }
}

.direction__img {
  width: 100%;
  min-height: 110px;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 186px;
    border-radius: 20px;
    border-bottom-left-radius: initial;
    border-top-left-radius: initial;
  }
}

.direction__description-wrapper {
  position: relative;
  display: flex;
  background-color: $basic-white;
  border-radius: 10px;
  margin-top: -20px;
  z-index: 1;
  padding-top: 36px;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 0;
    order: -1;
    border-radius: 20px;
  }
}

.direction__country-wrapper {
  justify-content: space-between;
  width: 222px;
  margin-left: 24px;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.direction__country {
  width: 178px;
  @include font(bold, 21px, 21px);
  margin: 0;
  margin-bottom: 2px;

  &::before {
    content: "";
    display: block;
    @include size(35px, 24px);
    position: absolute;
    top: 86px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: $mobile-width-only) {
      left: 25px;
    }

    @media (min-width: $tablet-width) {
      width: 70px;
      height: 47px;
      top: 17px;
      right: 149px;
    }

    @media (min-width: $desktop-width) {
      top: 24px;
      right: 152px;
    }
  }

  &--thai::before {
    background-image: url("../img/flag-thailand.svg");
  }

  &--fran::before {
    background-image: url("../img/flag-france.svg");
  }

  &--cze::before {
    background-image: url("../img/flag-czech.svg");
  }
}

.direction__quantity {
  color: $color-bg--dark-blue;
  opacity: 0.3;
  margin-right: 45px;

  @media (min-width: $tablet-width) {
    margin-left: 26px;
  }
}

.direction__tagline {
  display: block;
  @include font(500, 16px, 18px);
  color: $basic-grey;
  opacity: 0.3;
  width: 138px;


  @media (min-width: $tablet-width) {
    width: 290px;
  }
}

.direction__btn {
  position: relative;
  margin-bottom: 40px;

  &::after {
  position: absolute;
    content: "";
    background-image: url("source/img/");
  }



  @media (min-width: $tablet-width) {
    margin: 0 0 35px 35px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: -200px;
    left: 800px;
  }
}
