.filter-people {
  width: 220px;
  margin: 0 auto;
  padding-bottom: 22px;
}

.filter-people__fieldset {
  border: none;
  padding: 0;
}

.filter-people__legend-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 5px solid $color-border--light-grey;
  border-bottom: 1px solid $color-border--light-grey;
}

.filter-people__legend {
  @include font(bold, 16px, 18px);
  text-transform: uppercase;
  width: 200px;
  padding: 12px 0 14px;
}

.filter-people__btn {
  @include size(10px, 6px);
  cursor: pointer;

}

.filter-people__list {
  @include ul();
}


.filter-people__level-controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 21px;
}


.filter-people__input {
  @include size(105px, 34px);
  @include font(500, 14px, 13px);
  text-align: center;
}

.filter-people__btn-submit {
  position: relative;
  @include size(230px, 41px);
  background-color: $basic-white;
  right: 10px;
}

