.filter-people {
  padding-bottom: 22px;
}

.filter-people__fieldset {
  border: none;
  border-top: 1px solid $color-border--light-grey;
  padding: 0;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.filter-people__fieldset-wrapper {
  position: relative;
}

.filter-people__legend-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    width: 194px;
  }
}


.filter-people__fieldset-wrapper:focus .filter-people__list,
.filter-people__fieldset-wrapper:focus-within .filter-people__list {
  display: flex;
  flex-direction: column;
  @include ul();

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.filter-people__fieldset-wrapper:focus .transport-list,
.filter-people__fieldset-wrapper:focus-within .transport-list {
  display: flex;
  flex-direction: row;
  @include ul();

  @media (min-width: $desktop-width) {
    position: static;
    width: 172px;
  }
}

.filter-people__fieldset-wrapper:focus .filter-people__level-wrap,
.filter-people__fieldset-wrapper:focus-within .filter-people__level-wrap {
  display: block;

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.filter-people__level-wrap {
  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 430px;
    top: -20px;
    left: 187px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    display: initial;
    width: 100%;
  }
}

.filter-people__list {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include ul();
    width: 495px;
    top: 10px;
    left: 100px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}



.filter-people__legend {
  @include font(bold, 16px, 18px);
  text-transform: uppercase;
  width: 100%;
  padding: 12px 0 14px;

  //@media (min-width: $tablet-width) {
  //
  //}
  //
  //@media (min-width: $desktop-width) {
  //}
}

.filter-people__btn {
  @include size(10px, 6px);
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}


.filter-people__level-controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 21px;
}


.filter-people__input {
  @include size(105px, 34px);
  @include font(500, 14px, 13px);
  text-align: center;
  border: none;
  letter-spacing: 0.07em;

  @media (min-width: $tablet-width) {
    @include size(74px, 46px);
    @include font-size(20px, 20px);
    letter-spacing: 0.06em;
  }

  @media (min-width: $desktop-width) {
    @include size(74px, 46px);
    letter-spacing: 0.05em;
  }
}

.filter-people__min {
  border: 1px solid $color-border--grey;
  border-radius: 4px 0 0 4px;
  margin-left: -4px;
}

.filter-people__max {
  border: 1px solid $color-border--grey;
  border-radius: 0 4px 4px 0;
}


.filter-people__scale-controls {
  position: relative;
  height: 25px;

  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    order: initial;
  }
}

.filter-people__scale {
  height: 2px;
  background-color: $basic-special--blue-opacity;
  width: 100%;
}

.filter-people__bar {
  width: 50%;
  height: 2px;
  margin-left: 110px;
  background-color: $basic-special-blue;
  z-index: 2;
}

 .filter-people__toggle {
  position: absolute;
  top: -5px;
  left: 0;
  width: 10px;
  height: 10px;
  padding: 0;
  border: 2px solid $basic-special-blue;
  background-color: $basic-special-blue;
  border-radius: 50%;
  cursor: pointer;
}

.filter-people__toggle:focus {
  outline-style: none;
}

.filter-people__toggle--min {
  left: 50%;
}

.filter-people__toggle--max {
  left: 100%;
}
//
//.price-controls {
//  display: block;
//  padding-top: 2px;
//  font-family: Gilroy, Arial, sans-serif;
//  font-style: normal;
//  font-weight: 300;
//  font-size: 14px;
//  line-height: 16px;
//  letter-spacing: 0;
//  width: 200px;
//}
//
//.price-controls input {
//  width: 50px;
//  background-color: transparent;
//  border: 0;
//}
//
//.cost-filter {
//  margin-bottom: 38px;
//}
//
//.max-price {
//  margin-left: 19px;
//}







.filter-people__btn-submit {
  position: relative;
  left: 1px;
}
