.filters {
  position: relative;
  background-color: $extra-light-grey;
  color: $basic-special-blue;
}

.filters__wrapper {
  background-color: $basic-yellow;
  border-radius: 20px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 285px;
    top: 20px;
    right: 100px;
    z-index: 1;
  }
}

.filters__container {
  width: 220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 617px;
  }

  @media (min-width: $desktop-width) {
    width: 191px;
  }
}

.filters__title {
  @include font(bold, 22px, 22px);
  width: 145px;
  letter-spacing: 0.02em;
  padding-top: 26px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    @include font-size(30px, 30px);
    letter-spacing: initial;
    width: 100%;
    padding-top: 37px;
    margin-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    width: 191px;
    padding-top: 46px;
    margin-bottom: 34px;
  }
}
