.header {
  position: relative;
  background-color: $color-bg--dark-blue;


  @media (min-width: $tablet-width) {
    background-color: $color-bg--blue;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-bg--dark-blue;
  }
}

.header__nav {
  position: relative;
  padding-top: 27px;


  &--open {
    background-color: $basic-white;
    color: $basic-medium-blue;
    padding-top: 27px;
  }

  &--scroll {
    position: fixed;
    background-color: $basic-white;
    color: $basic-medium-blue;
    width: 320px;
    margin: 0 auto;
    padding-top: 27px;
    z-index: 1000;
  }

  &--no-js {
    background-color: $basic-white;
    color: $basic-medium-blue;
    padding-top: 27px;
  }

  @media (min-width: $tablet-width) {
    &--scroll {
      width: 768px;
      padding-top: 45px;
    }
  }

  @media (min-width: $desktop-width) {
    &--scroll {
      width: 1440px;
      padding-top: 18px;
    }
  }
}

.header__wrapper {
  display: flex;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-bottom: 45px;
  }
}

.header__toggle {
  @include size(25px, 11px);
  border: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  background-image: url("../img/icon_menu_mobile.svg");
  background-repeat: no-repeat;
  margin-left: 125px;

  &--open {
    display: none;
  }

  &--scroll {
    @include size(25px, 11px);
    display: inline-block;
    vertical-align: middle;
    border: none;
    color: inherit;
    background-color: inherit;
    text-transform: uppercase;
    cursor: pointer;
    background-image: url("../img/menu-icon-grey.svg");
    background-repeat: no-repeat;
  }

  &--no-js {
    display: none;
  }

  &--grey {
    @include size(25px, 11px);
    display: inline-block;
    vertical-align: middle;
    border: none;
    color: inherit;
    background-color: inherit;
    text-transform: uppercase;
    cursor: pointer;
    background-image: url("../img/menu-icon-grey.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {

    &--open {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
