.main-title {
  background-color: $color-bg--blue;
  border-radius: 0 0 30px 30px;
  margin-top: -2px;
  padding: 9px 0;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding: 67px 0;
  }
}

.main-title__title {
  position: relative;
  @include font(bold, 36px, 36px);
  color: $basic-white;
  margin: 0;
  padding: 0 0 11px 0;

  &::after {
    position: absolute;
    content: "";
    @include size(214px, 4px);
    background-color: $color-title--orange;
    border-radius: 4px;
    top: 55px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    @include font-size(60px, 60px);

    &::after {
      @include size(354px, 4px);
      top: 137px;
      left: 0;
    }
  }
}

.main-title__link {
  @include font(bold, 20px, 20px);
  @include a();
  color: $basic-white;
  text-transform: uppercase;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 20px;
  }
}

.main-title__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
