.main-title__wrapper {
  background-color: $blue-original;
  border-radius: 0 0 30px 30px;
}

.main-title__wrapper-title {
  background-color: $blue-original;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}

.main-title__title {
  background-color: $blue-original;
  position: relative;
  @include font(bold, 36px, 36px);
  color: $basic-white;
  margin: 0;
  padding: 0 0 11px 0;
  z-index: 2;

  &::after {
    position: absolute;
    content: "";
    @include size(173px, 5px);
    background-color: $special-orange;
    border-radius: 4px;
    top: 44px;
    left: 0;
  }
}
