.main-title {
  border-radius: 0 0 30px 30px;
  padding: 9px 0;
  z-index: 1;
}

.main-title__title {
  position: relative;
  background-color: $blue-original;


  &::after {
    position: absolute;
    content: "";
    @include size(214px, 4px);
    background-color: $color-title--orange;
    border-radius: 4px;
    top: 83px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    @include font-size(60px, 60px);

    &::after {
      @include size(354px, 4px);
      top: 117px;
      left: 0;
    }

    @media (min-width: $desktop-width) {
      @include font-size(60px, 60px);

      &::after {
        @include size(354px, 4px);
      }
    }
  }
}

.main-title__link {
  @include font(bold, 20px, 20px);
  @include a();
  color: $basic-white;
  text-transform: uppercase;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 20px;
  }
}

.main-title__wrapper {
  position: relative;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
  }
}

.main-title__wrapper {
  background-color: $blue-original;
  border-radius: 0 0 30px 30px;
  margin-top: -2px;
  padding: 9px 0;
  z-index: 2;
  @include font(bold, 30px, 36px);
  color: $basic-white;
}
