.menu-nav {
  display: none;
  width: 320px;
  color: $basic-medium-blue;
  margin: 0 auto;
  z-index: 100;

  &--open {
    display: block;
    position: absolute;
    background-color: $basic-white;
    color: $basic-medium-blue;
    padding-top: 24px;
    width: 320px;
    z-index: 100;
  }

  &--no-js {
    display: block;
    position: relative;
    background-color: $basic-white;
    color: $basic-medium-blue;
    padding-top: 24px;

    @media (min-width: $tablet-width) {
      &--no-js {
        width: 768px;
      }
    }


    @media (min-width: $desktop-width) {
      display: block;
      width: 1440px;

      &--open {
        display: none;
        width: 1440px;
        background-color: transparent;
      }
    }
  }
}

.menu-nav__social {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

