.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 46px;
  background-color: $extra-light-grey;
  border-radius: 240px;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    border-radius: 20px;
    margin-bottom: 75px;
    padding-bottom: 0;
    min-height: 100px;
  }
}

.pagination__list {
  display: none;

  @media (min-width: $tablet-width) {
    @include ul();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 180px;
  }
}

.pagination__control {
  @include size(135px, 51px);
  background-color: $basic-white;

  &--back {
    position: relative;
    border-radius: 40px 0 0 40px;

    &::after {
      position: absolute;
      content: "";
      @include size(20px, 13px);
      background-image: url("../img/triangle-arrow-left.svg");
      background-repeat: no-repeat;
      top: 20px;
      left: 63px;

      @media (min-width: $tablet-width) {
        top: 40px;
        left: 240px;
      }
    }
  }

  &--next {
    position: relative;
    border-radius: 0 40px 40px 0;

    &::after {
      position: absolute;
      content: "";
      @include size(20px, 13px);
      background-image: url("../img/triangle-arrow-right.svg");
      background-repeat: no-repeat;
      top: 20px;
      left: 63px;

      @media (min-width: $tablet-width) {
        top: 40px;
      }
    }
  }
}

.pagination__item {
  @include font(bold, 20px, 20px);
  color: $color-text--blue;
  margin: 35px 0 0 29px;


  &--carent {
    @include size(50px, 50px);
    background-color: $basic-yellow;
    border-radius: 50%;
    top: 0;
  }
}

.pagination__link {
  @include a();
}
