.profile {
  position: relative;
  background-color: $extra-light-grey;
  padding-bottom: 54px;
}

.profile__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 18px;
  padding-top: 20px;
}

.profile__level-wrapper {
  margin-top: 20px;
}

.profile__avatar {
  @include size(100px, 100px);
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    @include size(94px, 94px);
    border-radius: 5px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    @include size(190px, 190px);
    border-radius: 5px 5px 0 0;
    top: -190px;
    right: 80px;
  }
}

.profile__preferences-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile__textarea-wrapper {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 732px;
  }
}

.profile__change-btn {
  font-family: inherit;
  @include font(500, 20px, 18px);
  @include size(100%, 40px);
  background-color: $color-button--grey;

  @media (min-width: $tablet-width) {
    height: 60px;
    border-radius: 10px;
  }

  @media (min-width: $desktop-width) {
    @include size(190px, 47px);
    position: absolute;
    top: 0;
    right: 80px;
  }
}

.profile__btn-hidden {
  display: none;
}

.profile__subtitle {
  position: relative;
  font-weight: bold;
  line-height: 18px;
  color: $basic-special-blue;
  text-transform: uppercase;
  background-color: $extra-light-grey;
  margin: 0;

  &--tags {
    width: 82px;
    top: 10px;
    left: 100px;
    padding-left: 20px;
  }

  &--transport {
    width: 102px;
    top: -10px;
    left: 80px;
    padding-left: 10px;
  }

  @media (min-width: $tablet-width) {
    @include font(500, 20px, 20px);

    &--tags {
      width: 90px;
      top: 95px;
      left: 280px;
      padding-left: 10px;
      letter-spacing: 0.08em;
    }

    &--transport {
      position: absolute;
      width: 152px;
      top: 92px;
      left: 80px;
      padding-left: 20px;
      letter-spacing: 0.1em;
    }
  }

  @media (min-width: $tablet-width) {
    &--transport {
      position: relative;
      width: 152px;
      top: 98px;
      left: 80px;
      padding-left: 20px;
      letter-spacing: 0.1em;
    }
  }
}

.profile__hash-tag {
  @include size(100%, 89px);
  @include font-size(16px, 18px);
  color: $basic-grey-dark-opacity;
  outline: none;
  resize: none;
  border: 1px solid $color-border--grey;
  border-radius: 10px;
  background-color: $extra-light-grey;
  padding: 27px 20px 27px 25px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    @include font-size(20px, 22px);
    padding: 36px 40px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 735px;
    resize: none;
    outline: none;
  }
}

.profile__transport-wrapper {
  @include size(100%, 63px);
  border: 1px solid $color-border--grey;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    @include size(300px, 104px);
    position: absolute;
    top: 35px;
    left: 250px;
  }

  @media (min-width: $desktop-width) {
   position: static;
  }
}

.profile__transport {

  @media (min-width: $tablet-width) {
    width: 173px;
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 735px;
  }
}
