.rates {
  position: relative;
  background-color: $basic-extra-blue;
  border-radius: 30px;
  margin-top: -65px;
  z-index: -2;

  &::after {
    position: absolute;
    content: "";
    @include size(200px, 200px);
    background-image: url("../img/rates@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: scale(0.5);
    top: 10px;
    right: -30px;
  }
}

.rates__title {
  @include font(bold, 24px, 24px);
  color: $color-title--orange;
  width: 107px;
  padding-top: 64px;
  margin-bottom: 56px;
}

.rates__link {
  display: block;
  text-decoration: none;
  @include font(bold, 16px, 16px);
  padding-bottom: 38px;
  color: $special-extra-blue;
}
