.site-nav {
  @include ul();

  text-align: center;
  text-transform: uppercase;
  margin-bottom: 51px;
}

.site-nav__link {
  @include font(500, 30px, 35px);
  text-decoration: none;
  color: $basic-dark-blue;
}
