.site-users {
  position: relative;
  background-color: $basic-dark-blue;
  z-index: -1;
  margin-top: -50px;
  background-image: url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-position:
    150px 100px,
    -5px 355px;
  border-radius: 30px;

  &::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 113px;
    height: 132px;
    z-index: -2;
    background-color: $color-bg--dark-blue;
    border-radius: 0 20px 20px 0;
  }
}

.site-users__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}


.site-users__card-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 200px;
  }
}
