.site-users {
  position: relative;
  background-color: $basic-dark-blue;
  margin-top: -10px;
  background-image: url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 150px 100px, -5px 355px;
  border-radius: 10px;
  background-size: 143px 143px, 64px 71px;

  &::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 113px;
    height: 132px;
    z-index: -2;
    background-color: $color-bg--dark-blue;
    border-radius: 0 20px 20px 0;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/smolov-back-desktop@2x.png"), url("../img/rogovaya-back-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-desktop@1x.png");
    border-radius: 20px;
    background-position: 40px -200px, -5px -200px;
    background-size: 143px 143px, 285px 285px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/rogovaya-back-desktop@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-desktop@1x.png");
    border-radius: 20px;
    background-position: 45% 330px, 50% 200px;
    background-size: 143px 143px, 285px 285px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/rogovaya-back-desktop@2x.png");
    }

    &::before {
      top: 150px;
      left: 46%;
    }
  }
}


.site-users__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}


.site-users__card-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 200px;
  }
}
