.site-nav {
  //display: none;
  text-transform: uppercase;
  text-align: center;


  @media (min-width: $tablet-width) {
    text-align: left;
  }

  .site-nav__list {
    @include ul();
  }
}


.site__nav-list {
  @include ul();

  @media (min-width: $desktop-width) {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 390px;
    margin: 0;
    top: 50px;
    left: 400px;
  }
}

.site-nav__link {
  @include font(500, 30px, 35px);
  text-decoration: none;

  @media (min-width: $tablet-width) {
    @include font-size(60px, 31px);
  }

  @media (min-width: $desktop-width) {
    @include font-size(20px, 20px);
  color: inherit;

    &:hover {
      color: red;
    }
  }
}

.site-nav__item {
  @media (min-width: $desktop-width) {
    &:not(:last-child) {
      margin-right: 34px;
    }
  }
}
