.social {
  display: flex;
  @include ul();
  justify-content: center;
  //margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin: 0;
    justify-content: left;
  }

  @media (min-width: $desktop-width) {
    &--open {
      display: none;
    }
  }
}

.social__item {
  height: 21px;
  margin-right: 27px;

  &--yellow {
    @include size(45px, 45px);
    background-color: $basic-yellow;
    border-radius: 50%;
    margin-right: 0;
  }
}

.social__link {
  display: block;
  text-align: center;
}

.social-link__svg {
  &--fb {
    @include size(11px, 21px);
  }

  &--vk {
    @include size(25px, 12px);
  }

  &--in {
    @include size(18px, 18px);
  }

  @media (min-width: $tablet-width) {
    &--fb {
      @include size(14px, 26px);
    }

    &--vk {
      @include size(28px, 18px);
    }

    &--inst {
      @include size(22px, 22px);
    }
  }
}

  //@media (min-width: $desktop-width) {
  //  &--fb {
  //    @include size(45px, 45px);
  //  }
  //
  //  &--vk {
  //    @include size(30px, 16px);
  //  }
  //
  //  &--inst {
  //    @include size(24px, 24px);
  //  }



//.social {
//  display: flex;
//  @include ul();
//  justify-content: center;
//
//
//  @media (min-width: $tablet-width) {
//    margin: 0;
//    justify-content: left;
//  }
//
//
//  @media (min-width: $desktop-width) {
//    &--open {
//      display: none;
//    }
//  }
//}
//
//.social__item {
//  height: 21px;
//  margin-right: 27px;
//
//
//  &--yellow {
//    @include size(45px, 45px);
//    background-color: $basic-yellow;
//    border-radius: 50%;
//    margin-right: 0;
//  }
//}
//
//.social__link {
//  display: block;
//  text-align: center;
//}
