.user-nav {
  position: relative;
  @include font(bold, 16px, 18px);
  @include ul();

  &--off {
    position: absolute;

    @media (min-width: $tablet-width) {
      position: relative;
    }

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }

  &--flex {
    display: flex;
    margin-top: -40px;
  }
}

.user-nav__link {
  @include a();
}

.user-nav__btn {
  text-align: center;
  margin-bottom: 0;
}

.user-nav__item {
  position: relative;
  margin-bottom: 27px;
  display: none;

  @media (min-width: $tablet-width) {
    &:last-child {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &--first {
    order: 1;
    margin-left: 88px;
  }
}


.user-nav__svg-wrapper {
  background-color: $special-dark-blue;
  padding: 14px;
  border-radius: 50%;
  @include size(45px, 45px);

  &--orange {
    background-color: $special-orange;
    left: 0;
    top: -1px;
  }

  &--yellow {
    background-color: $special-yellow;
    left: 44px;
    top: -1px;
  }

  &--big {
    @include size(50px, 50px);
    padding: 16px;
  }
}

.user-nav__text {
  margin-left: 61px;
  text-transform: uppercase;
}
