@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin button() {
  display: inline-block;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

@mixin ul() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin font($weight: 300, $size: 16px, $height: 22px) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin a() {
  text-decoration: none;
  color: $basic-dark-blue;
}

@mixin title() {
  @include font(bold, 24px, 24px);
  color: $special_orange;
}


@mixin name-title() {
  @include font(bold, 21px, 21px);
  color: $basic-special-blue;
  margin: 0;
}

