$basic-white: #ffffff;
$opacity-white: rgba(255, 255, 255, 0.3);
$basic-black: #000000;
$opacity-black: rgba(0, 0, 0, 0.6);
$blue-original: #182044;
$basic-blue: #161c35;
$basic-light-blue: #edeff6;
$basic-extra-blue: #e6e8f1;
$basic-medium-blue: #192144;
$basic-special-blue: #1d2e5b;
$basic-dark-blue: #192144;
$special-dark-blue: #121936;
$special-blue: #141b3b;
$special-extra-blue: #132576;
$basic-yellow: #ffd74b;
$special-yellow: #ffbd30;
$special-orange: #ff8d30;
$extra-orange: #f97676;
$special-light-orange: #ffa530;
$basic-grey: #444444;
$basic-grey-opacity: rgba(68, 68, 68, 0.3);
$special-light-grey: #f2f2f2;
$special-grey: #e2e5f2;
$extra-light-grey: #edeff6;
$basic-green: #81e31e;
$basic-pink: #f9eaea;
$color-button--grey: #DFE3F0;
$color-border--grey: #CBCED9;
$color-bg--grey-darker: #D4D9EB;
$color-border--grey-darker: #D6D9E6;
$color-border--light-grey: #f3c72b;
$color-shadow: rgba(212, 217, 235, 0.25);
$color-orange: #ff5c23;
