// Colors

$basic-white: #ffffff;
$opacity-white: rgba(255, 255, 255, 0.3);
$color-bg--opacity-black: rgba(0, 0, 0, 0.1);
$basic-black: #000000;
$opacity-black: rgba(0, 0, 0, 0.6);

$color-bg--grey: #e2e5f2;
$color-bg--light-grey: #e5e5e5;
$blue-original: #182044;
$color-bg--dark-blue: #161c35;
$color-bg--light-blue: #edeff6;
$basic-extra-blue: #e6e8f1;
$basic-medium-blue: #192144;
$color-text--blue: #1d2e5b;
$basic-dark-blue: #192144;
$special-dark-blue: #121936;
$special-blue: #141b3b;
$special-extra-blue: #132576;
$basic-yellow: #ffd74b;
$special-yellow: #ffbd30;
$color-title--orange: #ff8d30;
$extra-orange: #f97676;
$special-light-orange: #ffa530;
$basic-grey: #444444;
$basic-grey-opacity: rgba(68, 68, 68, 0.3);
$basic-grey-dark-opacity: rgba(68, 68, 68, 0.4);
$basic-level--grey: rgba(68, 68, 68, 0.6);
$special-light-grey: #f2f2f2;
$special-grey: #e2e5f2;
$extra-light-grey: #edeff6;
$basic-green: #81e31e;
$basic-pink: #f9eaea;
$color-button--grey: #DFE3F0;
$color-border--grey: #CBCED9;
$color-bg--grey-darker: #D4D9EB;
$color-bg--grey-darkest: #F3F4F8;
$color-border--grey-darker: #D6D9E6;
$color-border--light-grey: #f3c72b;
$color-shadow: rgba(212, 217, 235, 0.25);
$color-orange: #ff5c23;

// Viewports

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

$color-bg--blue: #161c35;
$special-orange: #ff8d30;
$basic-special-blue: #1d2e5b;
$basic-special--blue-opacity: rgba(29, 46, 91, 0.3);
$basic-blue: #192144;
$basic-light-blue: greenы;
