// Colors

$basic-white: #ffffff;
$opacity-white: rgba(255, 255, 255, 0.3);
$basic-black: #000000;
$opacity-black: rgba(0, 0, 0, 0.6);

$color-bg--blue: #182044;
$color-bg--dark-blue: #161c35;
$basic-light-blue: #edeff6;
$basic-extra-blue: #e6e8f1;
$basic-medium-blue: #192144;
$basic-special-blue: #1d2e5b;
$basic-dark-blue: #192144;
$special-dark-blue: #121936;
$special-blue: #141b3b;
$special-extra-blue: #132576;
$basic-yellow: #ffd74b;
$special-yellow: #ffbd30;
$color-title--orange: #ff8d30;
$extra-orange: #f97676;
$special-light-orange: #ffa530;
$basic-grey: #444444;
$special-light-grey: #f2f2f2;
$special-grey: #e2e5f2;
$extra-light-grey: #edeff6;
$basic-green: #81e31e;
$basic-pink: #f9eaea;

// Viewports

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
